@model List<Resource>

<ul class="widget-content user-list">
		@foreach (var item in Model)
		{
			if (!string.IsNullOrEmpty(item.UserName))
			{
				if (Html.GetUserProfile().IsBoss)
				{
			      <li class="user-name text-center"><a style="text-decoration:none;" href="@Url.Action("UserManage", "Home", new { id = item.UserId })">@item.UserName</a></li>
				}
				else
				{
					<li class="user-name text-center"><a>@item.UserName</a></li>
				}
			}
		}
</ul>