@{
	var pageTitle = ViewBag.Title = "";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
	<style>
		.taskArea {
			font-size: 16px;
		}

		.a {
			text-decoration: none;
		}

		.widget .widget-header {
			height: 40px;
		}

		.first .widget-content {
			height: 200px;
		}

		.table th, .table td {
			text-align: center;
			width: 25%;
		}
	</style>
}
<div class="content-wrapper">
	<!-- main -->
	<div class="content">

		<div class="main-content">

			<div class="row first">
				<div class="col-md-3">
					<!-- WIDGET TABBED CONTENT -->
					<div class="widget">
						<div class="widget-header">
							<h3><i class="fa fa-paperclip"></i>通知</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
							</div>
						</div>

						<div class="widget-content">

						</div>
					</div>
					<!-- END WIDGET TABBED CONTENT -->
				</div>

				<div class="col-md-5">
					<!-- WIDGET TABBED CONTENT -->
					<div class="widget">
						<div class="widget-header">
							<h3><i class="fa fa-tasks"></i>任务</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
							</div>
						</div>

						<div class="widget-content">

						</div>
					</div>
					<!-- END WIDGET TABBED CONTENT -->
				</div>

				<div class="col-md-4">
					<!-- WIDGET TABBED CONTENT -->
					<div class="widget">
						<div class="widget-header">
							<h3><i class="fa fa-tasks"></i>任务</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
							</div>
						</div>

						<div class="widget-content">

						</div>
					</div>
					<!-- END WIDGET TABBED CONTENT -->
				</div>

			</div>

			<div class="row second">

				<div class="col-md-12">

					<div class="widget">
						<div class="widget-header">
							<h3><i class="fa fa-paperclip"></i>任务看板</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
							</div>
						</div>
						<div class="widget-content">

							<table class="table table-striped table-hover table-dark-header">
								<thead>
									<tr>
										<th>执行中</th>
										<th>未开始</th>
										<th>已完成</th>
										<th>已经关闭</th>
									</tr>
								</thead>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</table>

							<table class="table table-striped table-hover table-dark-header">
								<thead>
									<tr>
										<th>计划今天完成</th>
										<th>本周完成</th>
										<th>本月完成</th>
										<th>30天内完成</th>
									</tr>
								</thead>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</table>

						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>

@section Scripts{
	<script>

	$(function () {

	});

	</script>
}
