@model ManagerHomeViewModel
@{
	var pageTitle = ViewBag.Title = "";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
	<style>
		.taskArea {
			font-size: 16px;
		}

		.a {
			text-decoration: none;
		}

		ul.activity-list > li:hover {
			background: #eee;
		}

		ul.activity-list > li .activity-icon {
			background: #FF6633;
			color: white;
			font-size: 10px;
			font-weight: bold;
			font-family: Arial;
		}
	</style>
}
<div class="content-wrapper">
	<!-- main -->
	<div class="content">
		<div class="main-content row">
			<!-- LEFT WIDGET TABBED CONTENT -->
			<div class="widget col-sm-3" style="margin:20px;">
				<div class="widget-header">
					<h3>项目名称</h3>
				</div>

				<div class="widget-content">
					<ul class="list-unstyled activity-list">
						@foreach (var item in Model.Porjects)
						{
							<li data-id="@item.ProjectId"  >
								@item.ProjectName
							</li>
						}
					</ul>
				</div>

			</div>
			<!-- END LEFT WIDGET TABBED CONTENT -->
			<!-- LEFT WIDGET TABBED CONTENT -->
			<div class="widget col-md-8" style="margin:20px;">
				<div class="widget-header">
					<h2>xxxxx项目  (执行中)</h2>
				</div>
				<div class="widget-content" style="padding:20px;">
					<div class="rows">
						<div class="col-md-3 text-center"><h3><strong class="font18">人员数量</strong></h3><div class="font18"><strong><a href="#" target="_blank">20</a></strong></div></div>
						<div class="col-md-3 text-center"><h3><strong class="font18">需求数量</strong></h3><div class="font18"><strong><a href="#" target="_blank">20</a></strong></div></div>
						<div class="col-md-3 text-center"><h3><strong class="font18">任务数量</strong></h3><div class="font18"><strong><a href="#" target="_blank">20</a></strong></div></div>
						<div class="col-md-3 text-center"><h3><strong class="font18">Bug数量</strong></h3><div class="font18"><strong><a href="#" target="_blank">20</a></strong></div></div>
					</div>
					<hr />
					<div class="rows">
						<div class="col-md-3 text-center"><h3><strong class="font18">项目经理</strong></h3><div class="font18"><strong><a href="#" target="_blank">某某</a></strong></div></div>
						<div class="col-md-3 text-center"><h3><strong class="font18">开始时间</strong></h3><div class="font18"><strong><a href="#" target="_blank">2020-08-01</a></strong></div></div>
						<div class="col-md-3 text-center"><h3><strong class="font18">结束时间</strong></h3><div class="font18"><strong><a href="#" target="_blank">2020-08-03</a></strong></div></div>
						<div class="col-md-3 text-center"><h3><strong class="font18">项目进度</strong></h3><div class="font18"><strong><a href="#" target="_blank">80%</a></strong></div></div>
					</div>
					
				</div>
			</div>
			<div class="widget col-md-8" style="margin:20px; height:500px">
				<div class="widget-header">
					<h2>图表</h2>
				</div>
				<div class="rows">
					<div class="col-md-6" id="taskChart" style="height:500px"></div>
					<div class="col-md-6" id="taskChart2" style="height:500px"></div>
				</div>
			</div>
			<!-- END LEFT WIDGET TABBED CONTENT -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Scripts{
    <script src="~/assets/js/echarts.min.js"></script>
	<script>
		
		$(function () {

			var data = genData(50);

			var myChart = echarts.init(document.getElementById('taskChart'));
			var myChart2 = echarts.init(document.getElementById('taskChart2'));

			option = {
				title: {
					text: '人员任务量',
					subtext: '纯属虚构',
					left: 'center'
				},
				tooltip: {
					trigger: 'item',
					formatter: '{a} <br/>{b} : {c} ({d}%)'
				},
				legend: {
					type: 'scroll',
					orient: 'vertical',
					right: 10,
					top: 20,
					bottom: 20,
					data: data.legendData,

					selected: data.selected
				},
				series: [
					{
						name: '姓名',
						type: 'pie',
						radius: '55%',
						center: ['40%', '50%'],
						data: data.seriesData,
						emphasis: {
							itemStyle: {
								shadowBlur: 10,
								shadowOffsetX: 0,
								shadowColor: 'rgba(0, 0, 0, 0.5)'
							}
						}
					}
				]
			};

			myChart.setOption(option);
			myChart2.setOption(option);
		});

		function genData(count) {
			var nameList = [
				'赵', '钱', '孙', '李', '周', '吴', '郑', '王', '冯', '陈', '褚', '卫', '蒋', '沈', '韩', '杨', '朱', '秦', '尤', '许', '何', '吕', '施', '张', '孔', '曹', '严', '华', '金', '魏', '陶', '姜', '戚', '谢', '邹', '喻', '柏', '水', '窦', '章', '云', '苏', '潘', '葛', '奚', '范', '彭', '郎', '鲁', '韦', '昌', '马', '苗', '凤', '花', '方', '俞', '任', '袁', '柳', '酆', '鲍', '史', '唐', '费', '廉', '岑', '薛', '雷', '贺', '倪', '汤', '滕', '殷', '罗', '毕', '郝', '邬', '安', '常', '乐', '于', '时', '傅', '皮', '卞', '齐', '康', '伍', '余', '元', '卜', '顾', '孟', '平', '黄', '和', '穆', '萧', '尹', '姚', '邵', '湛', '汪', '祁', '毛', '禹', '狄', '米', '贝', '明', '臧', '计', '伏', '成', '戴', '谈', '宋', '茅', '庞', '熊', '纪', '舒', '屈', '项', '祝', '董', '梁', '杜', '阮', '蓝', '闵', '席', '季', '麻', '强', '贾', '路', '娄', '危'
			];
			var legendData = [];
			var seriesData = [];
			var selected = {};
			for (var i = 0; i < count; i++) {
				name = Math.random() > 0.65
					? makeWord(4, 1) + '·' + makeWord(3, 0)
					: makeWord(2, 1);
				legendData.push(name);
				seriesData.push({
					name: name,
					value: Math.round(Math.random() * 100000)
				});
				selected[name] = i < 6;
			}

			return {
				legendData: legendData,
				seriesData: seriesData,
				selected: selected
			};

			function makeWord(max, min) {
				var nameLen = Math.ceil(Math.random() * max + min);
				var name = [];
				for (var i = 0; i < nameLen; i++) {
					name.push(nameList[Math.round(Math.random() * nameList.length - 1)]);
				}
				return name.join('');
			}
		}


	</script>
}
