
@{ 
	var currentMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 20);
	var previousMonth = currentMonth.AddMonths(-1);
}
<div class="content-wrapper">

	<div class="main-content">
		<!-- widget -->
		<div class="widget">
			<div class="widget-header">
				<h3>得分统计报表</h3>
				<div class="btn-group widget-header-toolbar">
					<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
				</div>
			</div>

			<div class="widget-content">

				<div class="row">
					<div class="form-horizontal">

						<div class="col-sm-4  startDate">
							<div class="form-group">
								<label class="col-md-6 control-label">时间范围</label>
								<div class="col-md-6">

									<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
										@Html.TextBox("start", previousMonth.ToString("yyyy-MM-dd"), new { @class = "form-control plan start" })
										<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
									</div>

								</div>
							</div>
						</div>

						<div class="col-sm-4  endDate">
							<div class="form-group">
								<div class="col-md-6">

									<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
										@Html.TextBox("end", currentMonth.ToString("yyyy-MM-dd"), new { @class = "form-control plan end" })
										<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Grid -->
				<div class="table-responsive">
					<table id="bootgrid" class="table table-striped table-hover table-dark-header">
						<thead>
							<tr>
								<th data-column-id="UserName">用户名</th>
								<th data-column-id="ProjectName">项目名称</th>
								<th data-column-id="TaskName">任务名称</th>
								<th data-column-id="SubType">任务类型</th>
								<th data-column-id="SubValue">工作数量</th>
								<th data-column-id="UnitScore">分值</th>
								<th data-column-id="Score" data-formatter="Score" >得分</th>

							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- /widget content -->
		</div>
		<!-- /widget -->

	</div>
</div>

@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Plugins{
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Scripts {
	<script>
		function getGlobalRequest() {
			return {
				start: $('#start').val(),
				end: $('#end').val(),
				userId: '@Model'
			};
		}

		var searchType = '@TaskKeys.SearchByPersonal';

		function getGridOptions() {
			return $.extend(true, {}, gridOptions, {

				url: window.location.href,

				requestHandler: function (request) { return $.extend(true, request, getGlobalRequest()); },
				
				formatters:{
					'Score': function (column, row) {
						return '<a target="_blank" href="/ProjectManage/ProcessInfo?'
							+ 'projectId='
							+ row.ProjectId
							+ '&taskId='
							+ row.TaskId
							+ '&userId='
							+ row.UserId
							+ '&SearchType='
							+ '@TaskKeys.SearchByPersonal'
							+ '&startDate='
							+ $('#start').val()
							+ '&endDate='
							+ $('#end').val()
							+ '">'
							+ row.Score
							+ '</a>';
					}
				}

			});
		}

		$(function () {

			$('#bootgrid').bootgrid(getGridOptions())
			.on('loaded.rs.jquery.bootgrid', function () {

			});

			$('#start,#end').on('change', function () {
				$('#bootgrid').bootgrid('reload');
			});


		});
	</script>
}