@using Business.Config
@{
	var pageTitle = ViewBag.Title = "节点管理";
}
@section Css{
	<link href="~/assets/plugins/jquery.searchableSelect/css/jquery.searchableSelect.css" rel="stylesheet" />
}

<div class="content-wrapper">

	<div class="main-content">
		<!-- widget -->
		<div class="widget">
			<div class="widget-header">
				<h3>节点列表</h3>
				<div class="btn-group widget-header-toolbar">
					<button class="btn btn-sm btn-custom-primary" data-toggle="ajax-modal" data-url="@Url.Action("Edit", "MileStone",new { id=Guid.Empty})" data-target="#firstModal"><i class="fa fa-plus-square"></i> <span>新增</span></button>
					<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
				</div>
			</div>

			<div class="widget-content">
				<div class="row">

				</div>
				<!-- Grid -->
				<div class="table-responsive">
					<table id="bootgrid" class="table table-striped table-hover table-dark-header">
						<thead>
							<tr>
								<th data-column-id="name">节点名称</th>
								<th data-column-id="type">节点类型</th>
								<th data-column-id="sort">排序序号</th>
								<th data-column-id="commands" data-formatter="commands" data-sortable="false" class="width160" data-header-Css-Class="width130">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- /widget content -->
		</div>
		<!-- /widget -->
	</div>
</div>

@section Modals{
	<button class="btn btn-md btn-custom-primary hidden" id="modelProxy" data-toggle="ajax-modal" data-target="#firstModal">代理</button>
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Plugins{
	<script src="~/assets/plugins/jquery.searchableSelect/js/jquery.searchableSelect.js"></script>
}
@section Scripts {
	<script>
		function getGlobalRequest() {
			return {

			};
		}

		function getGridOptions() {
			return $.extend(true, {}, gridOptions, {

				url: window.location.href,

				requestHandler: function (request) { return $.extend(true, request, getGlobalRequest()); },

				formatters: {
					'commands': function (column, row) {
						var id = row.id;
						return '<div class="btn-group btn-group-xs pull-right" data-name="' + row.projectName + '" data-row-id="' + row.id + '" data-row-active="' + row.actived + '">' +
							'<button class="btn btn-lg btn-success btn-edit">编辑</button> ' +
							'<button class="btn btn-lg btn-info btn-tasks">禁用</button> ' +
                                     '</div>';
					},
				},
			});
		}

		$(function () {

			var door;

			var userId = '@Html.GetUserProfile().UserId';
			var grid = $('#bootgrid');
			grid.bootgrid(getGridOptions())
			.on('loaded.rs.jquery.bootgrid', function () {
				grid.find('.btn-edit').on('click', function (e) {
					var id = $(this).parent().data('rowId');
					$('#modelProxy').data('url', '@Url.Action("Edit","MileStone")?id='+id).trigger('click');
				});

			});

		});
	</script>
}