
/*  share folder */

	.btn06 {
		width: 100%;
		overflow: hidden;
		position: relative;
		-webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
		cursor:pointer;
	}

	.navigator{
		height:800px;
		overflow-x:auto;
		overflow-y:auto;
	}

	.explorer {
	}

	.explore-header {
		padding: 2px;
		height: 100px;
	}

		.explore-header ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

			.explore-header ul li {
				display: inline-block;
				float: left;
				margin-left: 10px;
			}

				.explore-header ul li a {
					font-size: 20px;
				}

		.explore-header .folder_path {
			width: 100%;
			display: block;
			height: 30px;
			padding: 0px;
		}

		.explore-header .search {
			width: 100%;
			display: block;
			height: 30px;
			padding: 0px;
		}
		
		.explore-body{
				height: 840px;
				overflow-y:auto;
				overflow-x:hidden;
		}

	.item {
		margin-bottom: 20px;
	}

	.btn06 img {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.btn06 .name{
		overflow:hidden;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		-webkit-text-overflow:ellipsis;
		-moz-text-overflow:ellipsis;
		white-space:nowrap;
	}

	.btn06 .ovrly {
		background: rgba(0, 0, 0, 0.5);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0;
		-webkit-transition: all 1s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.btn06 .buttons {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

		.btn06 .buttons .fa {
			background: rgb(256, 256, 256);
			-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			display: inline-block;
			line-height: 30px;
			font-size: 14px;
			text-align: center;
			text-decoration: none;
			width: 30px;
			height: 30px;
			opacity: 0;
			position: relative;
			-webkit-transition: all 0.3s, color 0.1s 0.3s;
			-moz-transition: all 0.3s, color 0.1s 0.3s;
			-o-transition: all 0.3s, color 0.1s 0.3s;
			transition: all 0.3s, color 0.1s 0.3s;
			color: transparent;
		}

		.btn06 .buttons .fa-link {
			left: 22px;
		}

		.btn06 .buttons .fa-search {
			left: -22px;
		}

	.btn06:hover .buttons .fa {
		opacity: 1;
		left: 0;
		color: rgba(50, 50, 50, 0.9);
	}

	.btn06:hover .ovrly {
		opacity: 1;
	}