@{
	var pageTitle = ViewBag.Title = "工作台首页";
	Layout = "~/Views/Shared/_StudioLayout.cshtml";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><h2>@pageTitle</h2></li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="alert alert-info">
			点击左侧菜单，选择所需功能
		</div>
	</div>
	<!-- /main -->
</div>
