<div class="widget col-md-3" style="margin-left:20px;">
	<div style="margin-top:10px;margin-bottom:10px;">子任务</div>
	<table id="childTaskgrid" class="table table-striped table-hover table-dark-header">
		<thead>
			<tr>
				<th data-column-id="SortId">ID</th>
				<th data-column-id="TaskName">任务名称</th>
				<th data-column-id="Manager" data-formatter="commands">指派给</th>
				<th data-column-id="Status">状态</th>
			</tr>
		</thead>
	</table>

</div>
